html, body{
	font-family: "Roboto", serif;
}

.intro {
	height:70%;
	padding: 0;
	text-align: center;
	display: table;
	width: 100%;
	background-color: #eeeeee; 
}

#intro-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}

.title{
	font-weight: bold;
	text-shadow: 2px 2px #000000;
	color: #FFFFFF;
}

.subtitle{
	font-size: 20px;
	text-shadow: 2px 2px #000000;
	color: #FFFFFF;
}

.page {
	z-index: 10;
}

.sectionTitle1{
	font-weight: bold;
/*	text-shadow: 2px 2px #000000;*/
	color: #FFFFFF;
}

.sectionTitle2{
	font-weight: bold;
/*	text-shadow: 2px 2px #FFFFFF;*/
	color: #000000;
}


.intro-title {
	display: table-cell;
	vertical-align: middle;
	z-index: 10;
}

.colorbar{
	background:linear-gradient(to right, #EB8558 0%, #EB8558 50%, #7FAD9A 80%);;
	height:0.5%;
}


.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
  float:none;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 14px;
  width: 50px;
}

.flex-display {

}

.brand-item {
	padding: 0;
	margin-left: 0;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}

.footer {
	margin-bottom: 0;
	background-color: #494949;
	color: #eeeeee;
}

.technology {
	max-height: 200px;
	max-width: 200px;
}

.container-solid {
	background-color: #A095A0;
	background-image: url('../media/img/texture/checker_circle.png');
}

.btn-logo {
	height : 30px;
	max-height: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

