html, body{
	font-family: "Roboto", serif;
}

.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
  float:none;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 14px;
  width: 100px;
}

.flex-display {

}

.brand-item {
	padding: 0;
	margin-left: 0;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}

.footer {
	margin-bottom: 0;
	background-color: #494949;
	color: #eeeeee;
}

.technology {
	max-height: 200px;
	max-width: 200px;
}

.container-solid {
	background-color: #eeeeee;
}

.btn-logo {
	height : 30px;
	max-height: 50px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

