html, body{
}

.brand-item {
	padding: 0;
	margin-left: 0;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}

.footer {
	margin-bottom: 0;
	background-color: #494949;
	color: #eeeeee;
}

.technology {
	max-height: 200px;
	max-width: 200px;
}

.container-solid {
	background-color: #eeeeee;
}

